<header>
<h1>About Me</h1>
</header>
<p>
	My name is Colton Clemmer, I am a full-stack web developer and currently attending the University of North Texas in Denton, Tx. I specialize in node.js, sockets, and mongodb, CSS3, and HTML5. I also have skills in PHP and MYSQL. I do everything from private websites to complex web apps. If you need or would be interested in a website or app please email me at <a href="mailto://coltonclemmerde@gmail.com">coltonclemmerdev@gmail.com</a> or visit the contact page.
</p>