<header>
	<a><img src="images/boiler.JPG" alt="Boiler"></img></a>
	<h1><a>Boiler</a></h1><br>
</header>
<p>
    This is a site that I made to act as a boilerplate for later work. The goal was to put as much functionality in one site as I could come up with using the express framework.
</p><br><br>
<p>
    <h4>Currently used technologies</h4><br>
    <ul>
    	<li><b>MongoDb: </b>Database.</li>
    	<li><b>Redis: </b>Session control.</li>
    	<li><b>Bcrypt: </b>Password encryption</li>
    	<li><b>Sails.js: </b>Backend framework.</li>
    	<li><b>Angular.js: </b>Front end framework.</li>
    	<li><b>Markdown: </b>Can post and edit posts in this format for easy formatting.</li>
        <li>And others...</li>
    </ul>
</p><br>
<a href="https://github.com/orbweaver-/Boiler">Source code</a>