        <header>
			<a href="http://www.ccrental.net"><img src="images/cc2.jpg" alt="C and C Rentals"></a>
			<h1><a href="http://www.ccrental.net">C&C rentals</a></h1><br>
		</header>
		<p>
		This site was created for my father that owns C&C Rentals in Paris, Tx. I created it using the <a href="http://foundation.zurb.com/">Foundation framework</a> for the styling along with some of my own styling.<br><br>
		It is a very simple HTML and and css site that has google maps API and an inventory page with descriptions of the different equipment that is available for rent.
		</p>