        <header>
			<a href="http://www.charmanphotography.com"><img src="images/tay2.jpg" alt="Charman Photography"></a>
			<h1><a href="http://www.charmanphotography.com">Charman Photography</a></h1><br>
		</header>
		<p>
		My friend, Taylor Charman, loves photography and was interested in a website. I created it using PHP and MYSQL to make it dynamic. For the styling I used <a href="http://foundation.zurb.com/">Foundation framework</a>.<br><br>
		She has the ability to upload photos in a blog format, give them a description, and a tag. You can sort by the tags in collections page. The collections page is also paginated so it only loads ten pictures at a time.
		</p>