        <header>
			<a href="http://www.investorliquidation.com"><img src="images/inv2.jpg" alt="Investor Liquidation"></a>
			<h1><a href="http://www.investorliquidation.com">Investor Liquidation</a></h1><br>
		</header>
		<p>
		A client needed to sell three of her houses and instead of trying to go through a realtor she came to me for a website. This website was created using <a href="http://alvarotrigo.com/fullPage/">Fullpage.js</a> for the scrolling fullscreen pages, and <a href="http://iamapioneer.com/plugins/skippr/">Skipper.js</a> for the slideshows.
		</p>