        <header>
	    	<a><img src="images/message.JPG" alt="Message.io"></img></a>
	    	<h1><a>Message.io</a></h1><br>
	    </header>
	    <p>
	        This is a simple messaging application that uses sockets to try to achieve the most seamless experience. It uses mongo extensively as both database and session control with cookies. This is a WIP.
	    </p><br>
	    <p>
	    	<h4>Currently used technologies</h4><br>
	    	<ul>
	    		<li><b>MongoDb: </b>Database.</li>
	    		<li><b>Express: </b>Backend server.</li>
	    		<li><b>Angular.js: </b>Front end framework.</li>
	    		<li>And others...</li>
	    	</ul>
	    </p><br>
	    <a href="https://github.com/orbweaver-/message.io">Source code</a>