        <header>
	    	<a href="http://www.simplereddit.net"><img src="images/sr.jpg" alt="Simple Reddit"></img></a>
	    	<h1><a href="http://www.simplereddit.net">Simple Reddit</a></h1><br>
	    </header>
	    <p>
	        This is an overlay site that utilizes the <a href="http://www.reddit.com/dev/api">Reddit API</a> to pull information from the <a href="http://www.reddit.com">Reddit</a> website and format it in a more discreet and user friendly way. I did not start this site myself, the credit goes to <a href="https://github.com/gvdasolutions">Gvda solutions</a>
	        on <a href="https://www.github.com">Github</a>. I added functionality like the NSFW toggle function, autocomplete, and hash URL functionality. For more info, please refer to the <a href="https://github.com/gvdasolutions/simplereddit">github page</a>.
	    </p><br>
	    <p>
	        <b>DISCLAIMER: I DID NOT CODE THIS  ENTIRELY MYSELF</b>
	    </p>