<header>
	<a href="http://www.thehub.us"><img src="images/hub2.jpg" alt="The Hub"></a>
	<h1><a href="http://www.thehub.us">The Hub</a></h1><br>
</header>
<p>
	This a side project of mine that I created using node js, you can create an account, log in, message, post to a public wall and comment on it. I used socket.io for real time updates and notifications, the mongoose npm package for data organization, and mongodb for data storage on a seperate server.
</p>